<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Dominic Byrd-McDevitt">
    <title>{{ page.title }}</title>
    <link rel="icon" href="/d.png">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
  </head>
  <body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
